body {
    background-color: bisque
    
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    color: #909E9F;
    
    
    
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #9AAB89;
    border: none;
    border-radius: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    
   
    
}

img {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.headshot-container {
    width: 30%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.headshot-container img {
    width: auto !important;
    max-width: 100%;
    height: auto;
}

